.mainPage {
  max-width: 1920px;
  padding: 15px;
  @media screen and (max-width: 1170px) {
    text-align: center;
  }
}

.board {
  max-width: 250px;
  min-height: 160px;
  padding: 10px 15px;
  width: 100%;
  display: flex;
  // justify-content: center;
  flex-direction: column;
  border-width: 1px;
  border-color: rgb(110, 110, 110);
  border-style: solid;
  box-shadow: 0 0 12px 0 rgb(110, 110, 110);
  background-color: rgb(110, 110, 110);
  color: white;
  border-radius: 15px;
  opacity: 0.8;
  transition: 0.3s;
  margin: 10px 0;  
}

.main_route_sidebar {
  padding: 5px;
  // background-color: #f9f9f9;
  // border-radius: 1rem;
  // border-color: #f9f9f9;
  // border-style: solid;
  // box-shadow: 0 0 12px 0 #bcbcbc;
}

.board:hover {
  cursor: pointer;
  opacity: 1;
}

.boardWrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  border-radius: 15px;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  // background-color: rgba(95, 140, 137, .2);
  max-width: 300px;
  width: 100%;
  margin: 34px;
  position: relative;
  @media screen and (max-width: 800px) {
    max-width: 230px;
    // transform: scale(.85);
  }
}

.tasksWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
  border-radius: 15px;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  // background-color: rgba(95, 140, 137, .2);
  max-width: 80%;
  width: 100%;
  margin: 34px;
  position: relative;
  @media screen and (max-width: 800px) {
    max-width: 230px;
    // transform: scale(.85);
  }
}

.backBtn_wrapper {
  margin-right: 42px;
}



.deleteIcon_wrapper {
  transform: scale(1.4);
  position: absolute;
  top: 10px;
  right: -10px;
}

.deleteIcon:not(:hover) {
  cursor: pointer;
  opacity: .8;
  transition: .2s;  
  transform: rotate(0deg);   
}

.deleteIcon:hover {
  cursor: pointer;
  transition: .2s; 
  opacity: 1;  
  transform: rotate(-45deg);
}

.deleteIcon:not(:hover) {
  cursor: pointer;
  opacity: .8;
  transition: .2s;  
  transform: rotate(0deg);   
}

.search_form_wrapper {
  width: 100%;
  margin-left: auto;
}

.search_task {
  max-width: 220px;
  min-height: 20px;
  margin-left: 1rem;
  padding: 5px; 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-color: rgb(110, 110, 110);
  border-style: solid;
  box-shadow: 0 0 12px 0 rgb(110, 110, 110);
  background-color: rgb(110, 110, 110);
  color: white;
  border-radius: 15px;
  opacity: 0.8;
  transition: 0.3s;
  margin: 10px 0; 
}

.search_no_tasks {
  display: flex;
  flex-wrap: wrap ;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.list {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
}

.list-item {
  padding: 5px;
}

.list-item-title {
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
}

.list-item-descr {
  padding: 5px;
  min-height: 60px;
}

.edit-btn {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 22px;
  right: 18px;
  background-image: url('../assets/icons/edit.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  filter: invert(100%);
  border: none;
  background-color: transparent;
  transition: filter .3s;
  &:hover {
    filter: invert(87%) sepia(36%) saturate(5700%) hue-rotate(0deg) brightness(99%) contrast(111%);
  }
}

.no-boards-text {
  font-size: 20px;
  margin: 25px;
}
