.wrapper {
  background-color: #6e6e6e;
  height: 85px;
}

.navbar {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.link {
  color: #fff;
  font-size: 18px;
  margin: 15px;
}
