.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #447fff;
}

.navbar {
  padding: 30px;
}

.link {
  color: #fff;
  font-size: 22px;
  margin: 15px;
}
