.wrapper {
  background-color: #447fff;
  height: 85px;
}

.navbar {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  color: #fff;
  font-size: 18px;
  margin: 15px;
}
